.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  .hero-image-container {
    position: relative;
    background-image: url('https://ik.imagekit.io/snjtzh7cg/Plant%20Haus/minimalist-plant.webp?updatedAt=1723142215474');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    margin-top: 65px;
    z-index: -1;

    .overlay {
      background-color: #00000092;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  .hero-text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 3;

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 35px;

      .header-text {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 12px;
        font-family: 'Cormorant Garamond';
        color: #fff;
        z-index: 3;
      }

      .header-description {
        text-align: center;
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 25px;
        max-width: 900px;
        color: #fff;
        z-index: 3;

        .expanded-text {
          display: none;
        }
      }
    }
  }
}

.home-container {
  padding: 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}

.commitments-section {
  width: 100%;
  height: 500px;
}

.directories-section {
  width: 100%;
}

.feature-container {
  width: 100%;
}

.reviews-container {
  width: 100%;
}

// Media Queries
@media only screen and (min-width: 390px) {
  .hero-container {
    .hero-text-container {
      .hero-text {
        .header-text {
          font-size: 3rem;
          line-height: 1.1;
        }

        .header-description {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 430px) {
  .hero-container {
    .hero-text-container {
      .hero-text {
        padding: 0 40px;
        .header-text {
          font-size: 3.3em;
          font-weight: 600;
          line-height: 1.1;
        }
        .header-description {
          font-size: 1.2rem;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-container {
    padding: 60px 20px 20px;
  }

  .hero-text-container {
    .hero-text {
      padding: 0 60px;
    }
  }
  .commitments-section {
    display: flex;
    align-items: center;
    height: 900px;
  }
  .hero-container {
    min-height: 600px;
    height: 80%;
  }
  .overlay {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hero-container {
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 800px;

    .hero-image-container {
      background-position: right;
    }
    .hero-text-container {
      width: 100%;
      padding: 20px 0;

      .header-text {
        font-size: 2rem;
      }

      .header-description {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
  .home-container {
    padding: 70px 40px 20px;
    height: auto;
  }

  .commitments-section {
    display: flex;
    align-items: center;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .commitments-section {
    display: flex;
    align-items: center;
    height: 600px;
  }
}
