.directory-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 60px;
  padding: 40px 20px 20px;

  .directory-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Cormorant Garamond';
    cursor: pointer;
    margin: 20px 0;
  }

  .directory-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 20px 0;
  }
}

// Media Queries

@media only screen and (min-width: 600px) {
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
  // .directory-preview {
  //   grid-template-columns: 200px repeat(1, 1fr);
  // }
}

// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
}

// Apply for screens up to 992px
@media only screen and (max-width: 992px) {
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  // .directory-preview-container {
  //   margin: 0;
  // }
  // .directory-preview {
  //   grid-template-columns: 300px repeat(2, 1fr);
  // }
}
