.directory-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  margin: 50px 20px;
  padding: 20px 60px;

  .directory-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Cormorant Garamond';
    cursor: pointer;
  }

  .directory-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .directory-preview {
    // grid-template-columns: repeat(1, 1fr);
    // column-gap: 40px;
    background-color: purple;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .directory-preview {
    // grid-template-columns: repeat(1, 1fr);
    // column-gap: 10px;
    background-color: pink;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .directory-preview {
    // display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 20px;
    background-color: green;
  }
}

// Medium devices (landscape tablets and medium desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .directory-preview {
    grid-template-columns: repeat(2, 1fr);
    background-color: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

// Extra-large devices (1600px and up)
@media only screen and (min-width: 1600px) {
}
