.checkout-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.checkout-page-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.checkout-form {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 140px 30px 60px;
}

.checkout-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fde8dc;
  width: 100%;
  height: 100%;
  padding: 50px 30px;

  .checkout-items {
    display: flex;
    flex-direction: column;
  }

  .discount-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    gap: 1rem;

    .discount-input {
      height: 100%;
      padding: 1rem;
      width: 200px;
      border: none;
      border-radius: 6px;
    }

    .form-select:focus,
    .form-control:focus {
      border-color: rgb(206, 136, 97);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(206, 136, 97, 0.6);
    }
  }

  .subtotal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .subtotal-text {
      font-size: 1.1rem;
    }
  }

  .shipping-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .shipping-text {
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  .total-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .total-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .total {
      font-size: 1.2rem;
    }

    .total-text {
      font-size: 1.2rem;
    }
  }
}

// Media Queries

@media only screen and (min-width: 768px) {
  .checkout-page-container {
    flex-direction: row;
    height: 80vh;
    padding-top: 110px;
  }

  .checkout-form {
    padding: 40px;
  }

  .checkout-container {
    padding: 40px;

    .discount-row {
      flex-direction: column;

      .discount-input {
        width: 100%;
        height: 44px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .checkout-page-container {
    flex-direction: row;

    height: 100%;
  }

  .checkout-form {
    padding: 40px 60px;
    width: 50%;
  }

  .checkout-container {
    padding: 40px 60px;
    width: 50%;

    .discount-row {
      flex-direction: row;
      justify-content: end;

      .dicount-input-container {
        width: 50%;
      }
      .discount-input {
        width: 100%;
        height: 44px;
      }
    }
  }
}
