.checkout-page-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.checkout-form {
  margin-left: 100px;
  padding: 100px 40px 20px 0;
  width: 100%;
  height: 100vh;
  order: 1;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 40px 0px;
  margin-right: 100px;
  background-color: #fde8dc;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  order: 2;

  &::-webkit-scrollbar {
    display: none;
  }

  .checkout-order-summary {
    font-family: 'Cormorant Garamond';
  }
  .checkout-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid darkgrey;

    .header-block {
      display: flex;
      margin-right: 20px;
      text-transform: capitalize;
      width: 63%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checkout-items {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
  }

  .discount-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

    .discount-input {
      min-width: 150px;
      max-width: 200px;
    }

    .form-select:focus,
    .form-control:focus {
      border-color: rgb(206, 136, 97);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(206, 136, 97, 0.6);
    }

    .discount-btn {
      min-width: 100px;
      width: 120px;
      height: 45px;
      letter-spacing: 0.5px;
      // line-height: 40px;
      padding: 0 35px 0 35px;
      font-size: 1rem;
      background-color: #ce8861;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      &:hover {
        background-color: #c1693b;
        color: #fff;
        border: 1px solid #ce8861;
      }
    }
  }

  .subtotal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .subtotal-text {
      font-size: 1.1rem;
    }
  }

  .shipping-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-bottom: 10px;

    .shipping-text {
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  .total-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;

    .total-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .total {
      font-size: 1.2rem;
    }

    .total-text {
      font-size: 1.2rem;
    }
  }
}


// Apply for screens up to 1200px
@media only screen and (min-width: 1400px) {
   .checkout-container {
    padding: 100px 40px 0px;
    margin: 1px;
  }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .checkout-container {
    padding: 100px 40px 0px;
    margin-right: 0;
  }
}

// Apply for screens up to 992px
@media only screen and (max-width: 1100px) {
  .checkout-page-container {
    flex-direction: row;
    margin-right: -40px;
  

  .checkout-form,
  .checkout-container {
    padding: 100px 40px 0px;
    height: auto;
  }

  .checkout-items {
    width: 100%;
  }
}
}
// Apply for screens up to 992px
@media only screen and (max-width: 992px) {
  .checkout-page-container {
    flex-direction: row;
    // margin: 0 60px;
    
    .checkout-form,
    .checkout-container {
      padding: 100px 40px 0px;
      margin-left: 40px;
      height: auto;
      width: auto;
      
    }
    
    .checkout-items {
      width: 100%;
    }
  }
}
  
// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .checkout-page-container {
    padding: -20px;
  
    .checkout-form,
  .checkout-container {
    padding: 80px 40px 0px;
    margin: 40px;
    height: auto;
  }
    .discount-row {
      flex-direction: column;
  
      .discount-input {
        margin-bottom: 10px;
        margin-left: -10px
      }
      
      .discount-btn {
        width: 90%;
        height: 35px;
        margin-bottom: 20px;
        margin-left: -10px;
        font-size: .75rem;
      }
    }
  
    .subtotal-row,
    .shipping-row,
    .total-container {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }
}


// Apply for screens up to 600px
@media only screen and (max-width: 575px) {
  .checkout-page-container {
    padding: -20px;
  .checkout-contianer {
    margin-right: -80px;
    .discount-row {
      flex-direction: column;

      
      .discount-btn {
        width: 50%;
        height: 45px;
        margin-bottom: 20px;
        margin-left: -10px;
        font-size: .85rem;
      }
    }
  }
  }  
}
@media only screen and (max-width: 455px) {
  .checkout-page-container {
    margin: -10px;
    margin-right: 30px;
   
      .checkout-items {
      .discount-btn {
        width: 50%;
        height: 45px;
        margin-bottom: 20px;
        margin-left: -10px;
        font-size: .85rem;
      }
    }
  }
      .checkout-form {
    margin: -10px;
    height: auto;
      }
  }

// Apply for screens up to 600px
@media only screen and (min-width: 390px) {
  .checkout-page-container {
    margin: -10px;
    
    
    .checkout-form {
      margin-bottom: -10px;

    }
  }
}
@media only screen and (min-width: 375px) {
  .checkout-page-container {
    flex-direction: column;
    margin: -10px;
    margin-right: 30px;
    margin-bottom: -60px;
    .checkout-form {
    margin: 1px;
    margin-bottom: 30px;
  }
  }
}








