.shop-container {
  padding: 80px 100px 20px;
  display: flex;
  flex-direction: column;
}
// Media Queries

@media only screen and (min-width: 600px) {
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
}

// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
}

// Apply for screens up to 992px
@media only screen and (max-width: 992px) {
  .shop-container {
    padding: 80px 100px 20px;
  }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .shop-container {
    padding: 80px 100px 20px;
  }
}
// Apply for screens up to 1200px
@media only screen and (max-width: 1400px) {
  .shop-container {
    padding: 80px 100px 20px;
  }
}
@media only screen and (max-width: 1600px) {
  .shop-container {
    padding: 80px 80px 20px;
  }
}
