.shop-container {
  padding: 80px 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Media Queries
@media only screen and (min-width: 1601px) {
  .shop-container {
    // padding: 80px 80px 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1600px) {
  // .shop-container {
  //   padding: 80px 80px 20px;
  // }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .shop-container {
    padding: 80px 60px 20px;
    justify-content: center;
  }
}

// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
  .shop-container {
    padding: 80px 40px 20px;
    justify-content: center;
  }
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
  .shop-container {
    padding: 80px 20px 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
}
