.reviews-preview-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: 700px;
  width: 100%;

  .reviews-header {
    padding-bottom: 20px;
    font-family: 'Cormorant Garamond';
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
  }

  .reviews-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
  }
}

// Media Queries
@media only screen and (min-width: 1401px) {
  .reviews-preview-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1202px) and (max-width: 1400px) {
  .reviews-preview-container {
    height: auto;
    width: 100%;
    .reviews-preview {
      > :last-child {
        display: none;
      }
    }
  }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .reviews-preview-container {
    height: 1000px;
    h2 {
      padding-bottom: 10px;
    }

    .reviews-preview {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1079px) {
  .reviews-preview-container {
    height: 1000px;

    .reviews-preview {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .reviews-preview-container {
    height: auto;
    padding: 20px;
    margin: 30px 0;

    .reviews-preview {
      width: 100%;
    }
  }
}

// Apply for screens up to 768px
@media only screen and (max-width: 779px) {
  .reviews-preview-container {
    height: auto;

    .reviews-preview {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
  .reviews-preview-container {
    height: auto;

    .reviews-preview {
      width: 100%;
    }
  }
}
