.category-preview-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: 700px;

  h2 {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
  }

  .title {
    padding-bottom: 50px;
    font-family: 'Cormorant Garamond';
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 600;
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 600px) {
  // .preview {
  //   grid-template-columns: 1fr;
  // }
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
}

// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
}

// Apply for screens up to 992px
@media only screen and (max-width: 1055px) {
  .category-preview-container {
    height: auto;

    .preview {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1055px) and (max-width: 1400px) {
  .category-preview-container {
    .preview {
      > :last-child {
        display: none;
      }
    }
  }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .category-preview-container {
    height: auto;
    h2 {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .preview {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .category-preview-container {
  }
}
