
.category-preview-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  height: 700px;
  width: 100%;

  h2 {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    white-space: nowrap;
  }

  .title {
    padding-bottom: 50px;
    font-family: 'Cormorant Garamond';
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 600;
  }


  .preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
  }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .category-preview-container {
    height: auto;

    h2 {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .preview {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1059px) and (max-width: 1400px) {
  .category-preview-container {
    .preview {
      > :last-child {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .mobile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
    
    .mobile-button {
      margin-bottom: 10px;
      padding: 10px 20px;
      width: 400px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #3c685db4;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2a4a40;
      }
    }
  }
  
  .category-preview-container {
    padding: 30px 0;
    height: auto;

    h2 {
      text-align: center;
    }
    .preview {
      width: 100%;
      justify-content: space-around;
    }
   
  }
}

// Apply for screens up to 768px
@media only screen and (max-width: 768px) {
  .category-preview-container {
    padding: 30px 0;
    width: 100%;
    align-items: center;

    .preview {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    
  }
}

// Apply for screens up to 600px
@media only screen and (max-width: 600px) {
  .category-preview-container {
    padding: 30px 0;
    height: auto;
    width: 100%;

    .preview {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .category-preview-container {
    padding: 10px 0;
    height: auto;

    .preview {
      width: 100%;
    }
  }
}
