.category-preview-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 1400px;
  width: 100%;
  padding-bottom: 35px;
}

.category-preview-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

  .category-preview-title {
    margin: 0;
    white-space: nowrap;
  }

  .view-more-container {
    display: flex;
    flex-direction: column;
  }

  .view-more-text {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;

    p {
      margin: 5px 0 0;
      font-family: 'Cormorant Garamond';
      line-height: 1.3;
    }

    .view-more-arrow {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      margin: 0 0 3px 5px;
      height: auto;
    }
  }
}

.category-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .category-product-wrapper {
    flex: 1 1 calc(50% - 1rem);
    display: block;
  }
  .category-product-wrapper[data-index='2'],
  .category-product-wrapper[data-index='3'] {
    display: none;
  }
}

// Media Queries

@media only screen and (min-width: 768px) {
  .category-preview-header {
    .view-more-text {
      p {
        font-size: 1.2rem;
        margin: 15px 0 0;
      }

      .view-more-arrow {
        font-size: 0.9rem;
        margin: 0 0 5px 5px;
      }
    }
  }

  .category-preview {
    .category-product-wrapper {
      flex: 1 1 calc(33.333% - 1rem);
    }

    .category-product-wrapper[data-index='2'] {
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) {
  .category-preview {
    .category-product-wrapper {
      flex: 1 1 calc(25% - 1rem);
    }

    .category-product-wrapper[data-index='3'] {
      display: block;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .category-preview-container {
    padding-bottom: 45px;
  }
  .category-preview-header {
    .view-more-text {
      p {
        font-size: 1.2rem;
        margin: 5px 0 0;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
}
