.checkout-form-container {
  width: 100%;

  h4 {
    font-family: 'Cormorant Garamond';
  }
}

.form-check-input:checked[type='checkbox'],
.form-check-input:checked {
  background-color: #3c685d;
  border-color: #3c685d;
}

.checkout-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .return-cart {
    display: flex;
    flex-direction: row;
    align-items: start;
    cursor: pointer;

    .return-cart-text {
      padding: 1px 0 0 2px;
    }
  }

  .shipping-btn {
    margin-top: 7px;
  }
}
