.product-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

// product image container left side

.product-img-container {
  display: flex;
  width: 60%;
  object-fit: cover;

  .product-thumb-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin-right: 20px;

    // border-radius: 4px;
    // padding-right: 20px;

    .product-thumb-container {
      width: 165px;
      margin-bottom: 20px;
      img {
        width: 100%;
        // height: auto;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .product-img-col {
    height: 400px;
    width: 390px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// product information container right side

.product-info-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 20px;

}
.product-header {
  .product-name {
    font-size: 3rem;
  }
  .product-price {
  }
}

  .product-size {
  }

  .product-cart-add {
  }

  .product-icons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    width: 100%;

    .plant-care-icons-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

      .plant-care-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 75px;
        margin-bottom: 8px;
      }
  
      .plant-care-icon {
        width: 100%; 
      }
  
      .plant-care-icon-name {
  
      }
    }

  }

  .product-description {
  }


.product-care {
}

.product-latin {
}
