.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
}

.product-img-container {
  display: flex;
  flex-direction: column;

  .product-thumb-col {
    display: flex;
    align-items: center;
    padding: 10px 0 20px;
    width: 70%;
    order: 2;

    .product-thumb-container {
      padding-right: 10px;

      img {
        width: 100px;
        height: 100px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .product-img-col {
    height: 100%;
    width: 100%;
    order: 1;

    img {
      width: 100%;
      height: auto;
    }
  }
}

// product information container right side
.product-info-container {
  display: flex;
  flex-direction: column;
}

.product-header {
  h3 {
    font-size: 2.5rem !important;
  }
  .product-latin {
    font-family: 'Cormorant Garamond';
    color: #ce8861;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
    margin: 2px 0 10px;
    line-height: 1rem;
  }
  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    font-family: 'Cormorant Garamond';
  }
}

.product-size-container {
  padding: 10px 0;
  font-size: 1.02rem;

  .product-size-subheader {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .product-size-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .product-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 0 10px;
      width: 130px;
      margin-right: 10px;
      font-size: 0.8rem;
      background-color: #fff;
      color: #3c403f;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid #3c403f;
      border-radius: 6px;
      cursor: pointer;
      letter-spacing: 0.5px;

      &:hover,
      &:focus,
      &:active {
        background-color: #3c403f;
        color: #fff;
        border: none;
      }
    }
  }
}

.product-size-description {
  margin: 20px 0;

  .size-description {
    font-style: italic;
    font-size: 0.9rem;
    margin: 8px 0;
  }
}

.product-icons-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.875rem;
  width: 100%;
}
.plant-care-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .plant-care-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .plant-care-icon {
      height: 50px;
      width: 50px;
    }
  }

  .plant-care-icon-name {
    font-size: 0.875rem;
    text-align: center;
    white-space: nowrap;
    padding-top: 4px;
  }
}

.product-subheader {
  color: #ce8861;
  font-size: 1.2rem;
  font-weight: 400;
}

.product-paragraph {
  margin: 10px 0;
  line-height: 1.6;
}

// Media Queries

@media only screen and (min-width: 768px) {
  .product-img-container {
    flex-direction: row;

    .product-thumb-col {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0;
      width: 140px;
      order: 2;

      .product-thumb-container {
        width: 100%;
        padding: 0 0 10px 10px;

        img {
          width: 100px;
          height: 100px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .product-img-col {
      height: 100%;
      width: 100%;
      order: 1;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .product-header {
    h3 {
      padding-top: 20px;
    }
  }
  .product-icons-row {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.55rem;
  }

  .plant-care-icons-container {
    .plant-care-icon-container {
      .plant-care-icon {
        height: 60px;
        width: 60px;
      }
    }

    .plant-care-icon-name {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 820px) {
  .product-container {
    flex-direction: row;
    gap: 1rem;
  }

  .product-img-container {
    flex-direction: column;
    width: 50%;

    .product-thumb-col {
      flex-direction: row;
      width: 100%;

      .product-thumb-container {
        width: 115px;
        padding: 10px 10px 0 0;

        img {
          width: 100px;
          height: 100px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .product-img-col {
      height: auto;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .product-info-container {
    width: 50%;
  }

  .plant-care-icons-container {
    .plant-care-icon-container {
      .plant-care-icon {
        height: 50px;
        width: 50px;
      }
    }

    .plant-care-icon-name {
      font-size: 0.875rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .product-container {
    gap: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .product-img-container {
    flex-direction: row;

    .product-thumb-col {
      flex-direction: column;
      width: 120px;
      order: 1;

      .product-thumb-container {
        width: 115px;
        padding: 0 10px 10px 0;

        img {
          width: 100px;
          height: 100px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .product-img-col {
      height: auto;
      width: 100%;
      order: 2;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
