.commitments-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 0;
  height: auto;
  width: 100%;
  background-color: #3c403d;
  overflow: hidden;
  margin-bottom: 20px;

  .commitments-header {
    color: #ffffff;
    z-index: 3;
  }

  .fern-com {
    position: absolute;
    top: -40px;
    right: -20px;
    width: 150px;
    transform: scaleY(-1) rotate(-20deg);
    z-index: 2;
  }

  .palm-com {
    position: absolute;
    bottom: -40px;
    left: -20px;
    width: 150px;
    transform: rotate(-10deg);
    z-index: 2;
  }
}

.commitments-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;

  .point-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 100%;
    width: 100%;

    .point-icon {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      color: #ffffff;
    }

    .point-header {
      text-align: center;
      color: #ffffff;
      z-index: 3;
    }

    .point-info {
      text-align: center;
      padding-top: 5px;
      line-height: 1.4;
      color: #ffffff;
      z-index: 3;
    }
  }
}

@media only screen and (min-width: 600px) {
  .point-container {
    min-height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .commitments-row {
    flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
