.three-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 60px 70px;
  height: 400px;

  .three-header {
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Cormorant Garamond';
    margin-bottom: 0;
  }
}

.three-points-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;

    .blob-container {
      position: absolute;
      z-index: -1;
      width: 150px;
      height: 150px;
    }

    .point-blob {
      position: relative;
      z-index: -1;
      width: 150px;
      height: 150px;
      top: 100px;
    }

    .point-icon {
      width: 50px;
    }

    .point-header {
      text-align: center;
      font-family: 'Cormorant Garamond';
      font-weight: 700;
      font-size: 1.55rem;
      margin: 3px 0 10px;
    }

    .point-info {
      text-align: center;
      margin: 10px;
      padding: 5px 20px;
      line-height: 1.4;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  // Your styles for screens up to 600px width
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  // Your styles for screens 600px and wider
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  // Your styles for screens 768px and wider
}

/* Medium devices (landscape tablets and medium desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .three-points-container {
    height: 800px;
  }
}

/* Apply for screens up to 1200px */
@media only screen and (max-width: 1200px) {
  .three-points-container {
    height: 800px;
  }
  .three-points-row {
    grid-template-columns: 1fr;
    gap: 10px;

    .blob-container {
      position: static;
      width: 100%;
    }

    .point-blob {
      position: static;
      width: 100%;
      top: 0;
    }
  }
}
