.three-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 50px;

  .three-header {
    font-size: 2.2rem;
    font-weight: 800;
    font-family: "Cormorant Garamond";
  }
}

.three-points-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;

  .points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .blob-container {
      position: absolute;
    }

    .point-blob {
      position: relative;
      z-index: -1;
      width: 150px;
      height: 150px;
      top: 100px;
    }

    .point-icon {
      width: 50px;
    }

    .point-header {
      text-align: center;
      font-family: "Cormorant Garamond";
      font-weight: 700;
      font-size: 1.55rem;
      margin: 8px 0;
    }

    .point-info {
      text-align: center;
      margin: 0 10px;
      padding: 5px 20px;
    }
  }
}
