.new-arrivals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 50px 20px;

  h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Cormorant Garamond';
  }

  .new-arrivals-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;

    img {
      border-radius: 4px;
      width: 320px;
      height: 460px;
      object-fit: cover;
      margin: 0px 40px;
    }
    .new-arrivals-footer {
      display: flex;
      flex-direction: column;
      margin: 5px 10px;
      padding: 5px 36px;

      .new-arrivals-text {
        display: flex;
        font-size: 1.35rem;
        font-weight: 600;
        font-family: 'Cormorant Garamond';
        margin: 6px 0px;
      }
      .new-arrivals-price {
        display: flex;
        font-size: 1.15rem;
      }
    }
  }
}
