.cart-sidebar-container {
  position: absolute;
  width: 330px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 32px;
  background-color: white;
  top: 0px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.95px 2.6px;
  z-index: 19;
}

// Cart Header Container

.cart-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .x-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .closeX {
      height: 18px;
      width: 18px;
      cursor: pointer;
    }
  }

  .title-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .cart-title {
      display: flex;
      font-size: 1.4rem;
      font-weight: 800;
      font-family: 'Cormorant Garamond';
    }

    .item-count {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .cart-info {
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

// Styled Line

.styled-line {
  width: 100%;
  margin: 20px 0;
  height: 0.06rem;
  background-image: linear-gradient(
    90deg,
    rgb(210, 210, 210) 6%,
    rgb(185, 185, 185) 50%,
    rgb(210, 210, 210) 93%
  );
}

.cart-footer {
  display: flex;
  flex-direction: column;

  .subtotal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .shipping {
    text-align: center;
  }
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  // overflow: scroll;
}

button {
  margin-top: auto;
}
.subtotal {
  align-self: flex-start;
  padding-bottom: 20px;
  font-weight: 700;
}
.shipping {
  align-self: flex-start;
  // font-style
}
