.checkout-item-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;
  width: 100%;
}

.checkout-item-image {
  width: 90px;
  height: 90px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.checkout-item-details-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 80%;
}

.checkout-item-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;

  .checkout-item {
    font-size: 1.1rem;
  }

  .checkout-item-price {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }
}

.quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 5px;
}
