.category-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: 'Cormorant Garamond';
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  width: 100%; /* Ensure full width on all screens */
  jusitfy-content: center;
}

@media screen and (max-width: 1400px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 1205px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .category-container {
    grid-template-columns: 1fr;
    column-gap: 15px; /* Adjust column gap for smaller screens */
    row-gap: 15px; /* Adjust row gap for smaller screens */
  }
}
