.category-page-container {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}

.category-title {
  text-align: center;
  padding: 50px 0;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

// Media Queries
@media only screen and (min-width: 576px) {
  .category-page-container {
    padding: 0 40px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .category-page-container {
    padding: 0 60px 40px;
  }

  .category-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.1rem;
    row-gap: 1.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .category-page-container {
    padding: 0 80px 40px;
  }

  .category-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    row-gap: 2.5rem;
  }
}
