@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  color: #3c403f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
  height: 100%;
}

a {
  text-decoration: none;
  color: #3c403f;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Cormorant Garamond';
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #3c403f;
}

h2 {
  font-family: 'Cormorant Garamond';
  font-size: 2.1rem;
  font-weight: 600;
}

h3 {
  font-family: 'Cormorant Garamond';
  font-size: 1.8rem;
  font-weight: 500;
}

h4 {
  font-family: 'DM Sans';
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

// Styled Lines
.styled-line {
  width: 100%;
  margin: 20px 0;
  height: 0.05rem;
  background-image: linear-gradient(
    90deg,
    rgb(210, 210, 210) 6%,
    rgb(185, 185, 185) 50%,
    rgb(210, 210, 210) 93%
  );
}

.styled-line-under {
  width: 100%;
  margin: 1px 0 2px;
  height: 0.06rem;
  background-image: linear-gradient(
    90deg,
    rgb(210, 210, 210) 6%,
    rgb(185, 185, 185) 50%,
    rgb(210, 210, 210) 93%
  );
}
.styled-line-thin {
  width: 100%;
  margin: 5px 0;
  height: 0.06rem;
  background-image: linear-gradient(
    90deg,
    rgb(210, 210, 210) 6%,
    rgb(185, 185, 185) 50%,
    rgb(210, 210, 210) 93%
  );
}

@media only screen and (min-width: 390px) {
  h1 {
    font-size: 3rem;
    line-height: 1.1;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 2.2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.form-select:focus,
.form-control:focus {
  border-color: rgb(78, 134, 120);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(78, 134, 120, 0.6);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
