.review-card-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex: 1 0 300px;
  // max-width: 300px;
  height: 425px;
  margin: 10px;
}

.review-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 30px;
  color: #1a1b1b;
  font-weight: 400;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  height: 100%;
}

.review-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .review-profile-picture {
    width: 80px;
    padding: 5px;
    margin-right: 15px;
  }

  .review-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .review-user {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .review-location {
      font-size: 1.2rem;
      font-weight: 200;
      font-style: italic;
    }
  }
}

.user-review {
  p {
    margin: 0;
    font-size: 1.1rem;
  }
}

// Apply for screens up to 1600px
// @media only screen and (min-width: 1601px) {
//   .review-card-container {
//     width: 100%;
//   }
// }
@media only screen and (max-width: 1600px) {
  // .review-card-container {
  //   width: 310px;
  // }
}

// Apply for screens up to 1400px
@media only screen and (max-width: 1445px) {
  // .review-card-container {
  //   width: 300px;
  // }
}

// Apply for screens up to 1200px
@media only screen and (max-width: 1200px) {
  .review-card-container {
    width: 400px;
    height: 400px;
    .review-card {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 959px) {
  .review-card-container {
    width: 350px;

    .review-card {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 859px) {
  .review-card-container {
    width: 100%;
    height: auto;
    .review-card {
      width: 100%;
    }
  }
}

// // Apply for screens up to 600px
// @media only screen and (max-width: 600px) {
//   .product-card-container {
//     min-width: 200px;
//     .prodcut-card {
//       width: 100px;
//       height: 300px;

//       .product-card-img {
//         width: 100%;
//       }
//     }
//   }
// }
